<footer>
  <section class="container">
    <section id="footerRow1">
      <div id="row1Text">
        <img src="https://i.ibb.co/Vppd9bj/fenty-for-Footer.png" />
        <section id="row1Info">
          <h4>Meet us in real life.</h4>
          <ul id="footerCities">
            <li><a href="">New York</a></li>
            <li><a href="">Los Angeles</a></li>
            <li><a href="">All stores & popups --></a></li>
          </ul>
        </div>
        <div id="shipping">
          <p class="shipping-p">Shipping to:</p>
          <select>
            <option value="United States">United States</option>
            <option value="Canada">Canada</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Ireland">Ireland</option>
            <option value="Sweden">Sweden</option>
            <option value="Denmark">Denmark</option>
            <option value="France">France</option>
          </select>
        </div>
      </section>
    <hr />

    <section id="footerRow2">
      <div id="emailsInfo">
        <h4>We also make emails.</h4>
        <p class="footer-p">
          Receive email updates on stuff you’ll probably want to know about,<br />including
          products, launches, and events. Unsubscribe anytime.
        </p>
        <input type="text" id="email" placeholder="Your email..." />
      </div>
      <div id="footerListItems">
        <ul id="row2Col1">
          <li><a href="">About Us</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Help & FAQ</a></li>
        </ul>
        <ul id="row2Col2">
          <li><a href="">Returns & Exchanges</a></li>
          <li><a href="">Free Stuff</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </section>
    <hr />

    <section id="footerRow3">
      <p id="copyright">&copy; Fenty. All rights reserved.</p>
      <div id="socials">
        <p><a href="">Instagram</a></p>
        <p><a href="">Twitter</a></p>
        <p><a href="">YouTube</a></p>
      </div>
    </section>
  </section>
</section>
</footer>
