<footer>
  <section class="container">
    <section class="footer-row-1">
      <section class="row-1-text">
        <img
          class="footer-img"
          src="https://i.ibb.co/Vppd9bj/fenty-for-Footer.png"
        />
        <section class="row-1-info">
          <h4 class="footer-title">Meet us in real life.</h4>
          <ul class="footer-cities">
            <li class="city"><a href="">New York</a></li>
            <li class="city"><a href="">Los Angeles</a></li>
            <li class="city"><a href="">All stores & popups --></a></li>
          </ul>
        </section>
      </section>
      <section class="shipping">
        <p class="shipping-p">Shipping to:</p>
        <select>
          <option value="United States">United States</option>
          <option value="Canada">Canada</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="Ireland">Ireland</option>
          <option value="Sweden">Sweden</option>
          <option value="Denmark">Denmark</option>
          <option value="France">France</option>
        </select>
      </section>
    </section>
    <hr />

    <section class="footer-row-2">
      <section class="row2-col1">
        <h4 class="email-title">We also make emails.</h4>
        <p class="footer-p">
          Receive email updates on stuff you’ll probably want to know about,<br />including
          products, launches, and events. Unsubscribe anytime.
        </p>
        <input type="text" id="email" placeholder="Your email..." />
      </section>
      <section class="footer-list-items">
        <ul class="row2-col-1">
          <li class="footer-li"><a href="">About Us</a></li>
          <li class="footer-li"><a href="">Careers</a></li>
          <li class="footer-li"><a href="">Help & FAQ</a></li>
        </ul>
        <ul class="row2-col-2">
          <li class="footer-li"><a href="">Returns & Exchanges</a></li>
          <li class="footer-li"><a href="">Free Stuff</a></li>
          <li class="footer-li"><a href="">Contact</a></li>
        </ul>
      </section>
    </section>
    <hr />

    <section class="footer-row-3">
      <p class="copyright">&copy; Fenty. All rights reserved.</p>
      <section class="socials">
        <p class="social-p"><a href="">Instagram</a></p>
        <p class="social-p"><a href="">Twitter</a></p>
        <p class="social-p"><a href="">YouTube</a></p>
      </section>
    </section>
  </section>
</footer>
