<nav>
  <div>
    <h1><a href="/">Fenty.</a></h1>
    <ul id="navUl">
      <li><a href="/eyes">Eyes</a></li>
      <li><a href="/lips">Lips</a></li>
      <li><a href="/collections">Collections</a></li>
      <li><a href="/bestsellers">Bestsellers</a></li>
    </ul>
  </div>
  <div id="icons">
    <a href=""
      ><img
        id="menuIcon"
        class="off"
        src="https://img.icons8.com/ios/50/000000/menu--v1.png"
    /></a>
    <a href=""><i class="fa fa-user"></i></a>
  </div>
</nav>
