<nav>
  <div>
    <h1><a href="/">Fenty.</a></h1>
    <ul id="navUl">
      <li><a href="/eyes">Eyes</a></li>
      <li><a href="/lips">Lips</a></li>
      <li><a href="">Collections</a></li>
      <li><a href="">Bestsellers</a></li>
    </ul>
  </div>
  <a href=""><i class="fa fa-user"></i></a>
</nav>
