<head>
  <link rel="stylesheet" href="css/navFooter.css" type="text/css" />
  <link rel="stylesheet" href="css/shop.css" type="text/css" />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet"
    media="screen"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Cantarell:700i|Source+Sans+Pro|Varela+Round&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=PT+Serif:400i&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<%- include ('../partials/navigation.ejs') %>
<section id="products">
  <section class="container">
    <section id="products-column">
      <section id="row-1" class="fade one">
        <section id="mobile-row-1">
          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections1.jpg"
            />
            <figcaption>
              <a href="">Soft Matte Complexion Essentials with Sponge</a>
            </figcaption>
            <button><a href="">Add to Bag $65</a></button>
          </figure>

          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections2.jpg"
            />
            <figcaption>
              <a href="">Soft Matte Complexion Essentials with Brush </a>
            </figcaption>
            <button><a href="">Add to Bag $80</a></button>
          </figure>
        </section>
        <section id="mobile-row-2">
          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections3.jpg"
            />
            <figcaption>
              <a href="">Match Stix Trio </a>
            </figcaption>
            <button><a href="">Add to Bag $54</a></button>
          </figure>

          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections4.jpg"
            />
            <figcaption>
              <a href="">Pro Filt'r Setting Powder Custom 2-Pc Set</a>
            </figcaption>
            <button><a href="">Add to Bag $66</a></button>
          </figure>
        </section>
      </section>

      <section id="row-2" class="fade two">
        <section id="mobile-row-3">
          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections6.jpg"
            />
            <figcaption>
              <a href="">Gloss Cream 3-Pc Crew</a>
            </figcaption>
            <button><a href="">Add to Bag $50</a></button>
          </figure>

          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections6.jpg"
            />
            <figcaption>
              <a href="">Gloss Goalz Lip Luminizer 3-Pc Set</a>
            </figcaption>
            <button><a href="">Add to Bag $57</a></button>
          </figure>
        </section>
        <section id="mobile-row-4">
          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections7.jpg "
            />
            <figcaption>
              <a href="">Fenty Skin Travel-Size Start'r Set</a>
            </figcaption>
            <button><a href="">Add to Bag $40</a></button>
          </figure>

          <figure>
            <img
              class="fig-img"
              src="/images/CollectionsImages/collections8.jpg"
            />
            <figcaption>
              <a href="">Fenty Skin Vault 5-Piece Skincare Essentials</a>
            </figcaption>
            <button><a href="">Add to Bag $139</a></button>
          </figure>
        </section>
      </section>
    </section>
  </section>
</section>

<%- include ('../partials/footer.ejs') %>
