<head>
  <link rel="stylesheet" href="css/navFooter.css" type="text/css" />
  <link rel="stylesheet" href="css/shop.css" type="text/css" />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet"
    media="screen"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Cantarell:700i|Source+Sans+Pro|Varela+Round&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=PT+Serif:400i&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<%- include ('../partials/navigation.ejs') %>
<section id="products">
  <section class="container">
    <section id="products-column">
      <section id="row-1">
        <section id="mobile-row-1">
          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss1.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - Rose Nude</a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>

          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss2.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - Hot Chocolit </a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>
        </section>
        <section id="mobile-row-2">
          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss3.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - </a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>

          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss4.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - Cheeky</a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>
        </section>
      </section>

      <section id="row-2">
        <section id="mobile-row-3">
          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss5.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - Fu$$y</a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>

          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss6.jpg" />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - $weet Mouth</a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>
        </section>
        <section id="mobile-row-4">
          <figure>
            <img class="fig-img" src="/images/LipsImages/FentyGloss7.jpg " />
            <figcaption>
              <a href="">Gloss Bomb Lip Luminizer - Diamond Milk</a>
            </figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>

          <figure>
            <img class="fig-img" src="/images/EyesImages/FentyShadows1.jpg" />
            <figcaption><a href="">Snap Shadows 8 - Peach</a></figcaption>
            <button><a href="">Add to Bag $25</a></button>
          </figure>
        </section>
      </section>
    </section>
  </section>
</section>
<%- include ('../partials/footer.ejs') %>
