@media screen and (min-width: 150px) {
  .container {
    width: 95%;
    margin: auto;
    overflow-x: hidden;
  }

  /*** NAV STYLES ***/
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px #888888;
    min-height: 50px;
    width: 100%;
  }
  nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav h1 {
    text-align: center;
    font-size: 28px;
    font-family: "Cantarell";
    margin: 15px 0 15px 10px;
    padding: 0 0 0 0;
  }
  nav h1 a {
    text-decoration: none;
    color: black;
  }
  #navUl {
    display: none;
  }
  nav .fa-user {
    display: none;
  }
  #menuIcon {
    display: block;
    margin-right: 10px;
    height: 31px;
  }
  .mobileNavActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
  }
  .mobileNavActive li {
    list-style-type: none;
  }
  .mobileNavActive li a {
    color: black;
    text-decoration: none;
  }
  .hide {
    display: none;
  }
  /*** END OF NAV STYLES ***/

  /*** FOOTER STYLES ***/
  footer {
    background-color: black;
    padding-top: 3%;
  }
  #row1Text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #row1Iinfo {
    display: flex;
    flex-direction: column;
  }
  #row1Info h4 {
    font-size: 23px;
    text-align: left;
    margin-bottom: 2%;
    color: white;
  }
  select {
    font-size: 15px;
    border-bottom: 5px solid #020ab9;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 10px;
  }
  #footerRow1,
  #footerRow2,
  #footerRow3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 5%;
  }
  #emailsInfo {
    text-align: center;
  }
  #footerRow2 h4 {
    color: white;
    font-weight: bold;
    padding-top: 1.5%;
  }
  #footerRow2 p {
    color: white;
    font-size: 12px;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    width: 95%;
    opacity: 0.2;
  }
  footer img {
    width: 90%;
    max-width: 150px;
    height: auto;
    padding-right: 2%;
    padding-left: 2%;
  }
  #footerCities {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
  }
  #footerCities li {
    font-size: 15px;
    text-align: left;
    padding-right: 5%;
    white-space: nowrap;
  }
  #footerCities li a {
    color: white;
    text-decoration: none;
  }
  #footerCities li a:hover {
    color: #f1dede;
  }
  #shipping {
    width: 100%;
    max-width: 350px;
    height: auto;
    text-align: center;
  }
  #shipping p {
    color: white;
    font-size: 15px;
  }
  #copyright {
    color: white;
    font-size: 13px;
  }
  #socials p {
    text-align: center;
    font-size: 13px;
  }
  #socials p a {
    color: white;
    text-decoration: none;
  }
  #row2Col1,
  #row2Col2 {
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }
  #footerListItems {
    text-align: center;
  }
  #footerListItems li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  #footerListItems li a:hover {
    color: #f1dede;
  }
  input {
    font-size: 15px;
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: black;
    border: 2px solid white;
    padding: 10px;
  }
  #footerListItems {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  /*** END OF FOOTER STYLES ***/
}
@media (min-width: 768px) {
  /*** NAV STYLES ***/
  #navUl {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  #navUl li a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
  }
  #menuIcon {
    display: none;
  }
  nav .fa-user {
    display: block;
  }
  nav a .fa-user {
    font-size: 23px;
    color: black;
  }
  nav a .fa-user:hover {
    color: #020ab9;
  }
  nav .fa-user {
    padding: 0 20px 0 0;
  }

  /*** END OF NAV STYLES ***/

  /*** FOOTER STYLES ***/
  #footerRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #row1Text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  #footerRow2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 5%;
  }
  #shipping {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 0 0 400px;
  }
  #footerRow3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #socials {
    display: flex;
    flex-direction: row;
  }
  /*** END OF FOOTER STYLES ***/
  #banner {
    position: fixed;
    border: 3px solid white;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 0 10px #888888;
    margin-left: 73%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 350px;
  }
  #airplane-icon,
  #x-out {
    height: 19px;
  }
  #airplane-icon {
    padding-right: 3%;
  }
  #x-out {
    margin-left: 15%;
  }
}
